<div class="orbit-container"><ul id="featured1" data-orbit="" data-options="timer_speed:5000;" class="orbit-slides-container slide" style="min-height: 261px;">
      <li class="active">
        <%= image_tag "s2.jpg", height: "300 px important!"%>
        <div class="orbit-caption">
          Volonter.RS je namenjen svima koji žele da traže i pruže potrebnu pomoć.
        </div>
      </li>
      <li>
        <%= image_tag "s1.jpg",height: 300%>
        <div class="orbit-caption">
          Caption Two. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </div>
      </li>
      <li>
        <%= image_tag "s3.jpg",height: 300%>
        <div class="orbit-caption">
          Caption Three. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </div>
      </li>
    </ul><a href="#" class="orbit-prev"><span></span></a><a href="#" class="orbit-next"><span></span></a><div class="orbit-timer paused"><span></span><div class="orbit-progress" style="width: 73.18%;"></div></div>
    <div class="orbit-slide-number"><span>1</span> of <span>3</span></div><div class="orbit-bullets-container"><ol class="orbit-bullets"><li data-orbit-slide="0" class="active"></li><li data-orbit-slide="1"></li><li data-orbit-slide="2"></li></ol></div></div>

<div class="row">
Volonter.RS je namenjen svima koji žele da traže i pruže potrebnu pomoć.<br>

Veb sajt www.Volonter.RS i aplikacija Volonter predstavljaju otvoreno platformu na kojoj svako može tražiti i ponuditi pomoć. Svako ko traži pomoć, pored drugih podataka, ostavlja lične podatke i nakom potvrde dobija e-mail sa linkom kojim se verifikuje kao osoba koja preuzima odgovornost za tačnost objavljenih podataka i samo izvođenje akcije.

Kontrolori tačnosti informacija i uspešnosti ste upravo vi volonteri pošto se svaka akcija na Facebook-u vodi kao "Događaj", a na Twitter-u kao xxxxx gde možete ostavljati vaše komentare. U slučaju lažne objave akcije i vaših komentara koji ukazuju na to, informacija se prosleđuje nadležnim državnim službama koje dalje preuzimaju slučaj i proveru informacija.

Pomoć možete dobiti i pre nego što očekujete. Nadležne institucije i organizacije prate objavljivanje vaših akcija i mogu vas kontaktirati i ponuditi pomoć a da imaju resurse koji su vama potrebni.

Sa akcija možete poneti zajedničko iskustvo i društvene mreže vam mogu pomoći da sačuvate te uspomene objavljivajuci fotografije sa akcija i razmenjujuci iskustva kroz komentare.
</div>
