<div class="row">
Volonter.RS je namenjen svima koji žele da traže i pruže potrebnu pomoć.<br>

Veb sajt www.Volonter.RS i aplikacija Volonter predstavljaju otvoreno platformu na kojoj svako može tražiti i ponuditi pomoć. Svako ko traži pomoć, pored drugih podataka, ostavlja lične podatke i nakom potvrde dobija e-mail sa linkom kojim se verifikuje kao osoba koja preuzima odgovornost za tačnost objavljenih podataka i samo izvođenje akcije.

Kontrolori tačnosti informacija i uspešnosti ste upravo vi volonteri pošto se svaka akcija na Facebook-u vodi kao "Događaj", a na Twitter-u kao xxxxx gde možete ostavljati vaše komentare. U slučaju lažne objave akcije i vaših komentara koji ukazuju na to, informacija se prosleđuje nadležnim državnim službama koje dalje preuzimaju slučaj i proveru informacija.

Pomoć možete dobiti i pre nego što očekujete. Nadležne institucije i organizacije prate objavljivanje vaših akcija i mogu vas kontaktirati i ponuditi pomoć a da imaju resurse koji su vama potrebni.

Sa akcija možete poneti zajedničko iskustvo i društvene mreže vam mogu pomoći da sačuvate te uspomene objavljivajuci fotografije sa akcija i razmenjujuci iskustva kroz komentare.
</div>
