<div class="row">
  <div class="large-12 small-12 columns">
    <h2 id="getting-started">Pomozite sebi i Vašim sugrađanima.</h2>
    <h4 class="subheader">Obratite se direktno i udružite sa drugim građanima i građankama.
      Vaše potrebe možete podvesti pod akcije institucija kojima verujete i pomoć dobiti i pre nego što očekujete.
      </h4>
    <hr>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= render 'form' %>
  </div>
