<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, placeholder: "Email", label: false, required: false, autofocus: true %>
    <%= f.input :password, placeholder: "Sifra", label: false, required: false %>
    <%= f.button :submit, "Uloguj Se" %>
  </div>
<% end %>
