<header>
  <div class="row">
    <div class="large-12 columns">
      <h1>Pomozi!</h1>
      <h4>Odaberite aktuelnu akciju prema sopstvenim mogućnostima i pomozite Vašim sugrađanima.</h4>
      <hr>
  </div>
</div>
</header>
<div class="row">
  <div class="large-6 small-12 columns">
    <%= render 'devise/registrations/new' %>
  </div>
  <div class="large-6 small-12 columns">
    <%= render 'devise/sessions/new' %>
  </div>
</div>
