<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Poštovani,<br>
      Klikom na link ispod potvrđujete Vašu inicijativu koja će potom biti automatski objavljena.<br>
    </p>
    <a href="http://volonter.rs/akcija/#{@event.id}/potvrdi">Podtvrdite Akciju</a>
    <p>
      Hvala Vam što pomažete sebi i Vašim sugrađanima!<br>
    </p>
    <p>Volonter.RS</p>
  </body>
</html>
