<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <p>© Petar Ivacic 2014</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="http://floodhack.org">Floodhack</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
